.NavigationWrapper {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #fff,
    0 0 35px #fff, 0 0 45px #fff, 5px -7px 9px rgba(255, 255, 255, 0.26);
  text-align: center;
  font-size: 20px;
  /* background-color: rgb(161, 161, 165); */
  background: linear-gradient(135deg, #cecece 0%, #1e78b3 50%, #000000 100%);
}
.NavigationList {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.NavigationWrapper > a {
  text-align: center;
}
