.App-header {
  max-width: 80vw;
  min-height: 80vh;
  margin: 15px auto;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; */
  font-size: calc(10px + 2vmin);
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.NavigationList {
  text-align-last: left;
  list-style: none;
  display: flex;
  justify-content: left;
}
.Navigation-item,
a {
  margin: 4px;
  text-decoration: blue;
  list-style: none;
  color: #000000;
  font-weight: 500;
}
.NavLink {
  font-size: 15px;
  color: black;
}

.NavLinkActive {
  color: blue;
}
